# ignore bin & vs
.vs/
bin/
bin-int/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
SandBox/imgui.ini
SandBox/HazelProfile-Runtime.json
SandBox/HazelProfile-Shutdown.json
SandBox/HazelProfile-Startup.json
